/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  /*(?)*/color: #A01679;
  
}

#bdy{
 
}

/* TITLE
-------------------------------------------------*/
.game_title #tit {
   visibility: hidden;
}
.container_marketing{
      visibility: hidden;
}
/*añadir otro content con el css del juego*/

/*JUEGO EN HORIZONTAL*/
.game_container{
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 0px ;
      margin-right: 0px ; 
      position: relative;
      /*cursor: default;*/
      background: #DEBE48;
      border-radius: 6px;
      width: 1280px;
      height: 720px;
      -webkit-transform: rotate(90deg);
      moz-transform: rotate(90deg);
      rotation: 90deg;
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    }
  .game_container #game{
    width: 100%;
    height: 100%;
    border-radius: 6px;
  }

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* para ordenadores */

  body{
      background-image: url(infierno.png);
      background-position: 40% 0%;
      background-size: 1700px 1573px;
      background-repeat: no-repeat;
  }

  @font-face {
    font-family: mySecondFont;
    src: url(fuente3.ttf);
}

  /* MARKETING CONTENT
      -------------------------------------------------- */

  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-2 {
    margin-top: 60px;
    text-align: center;
  }
  .col-lg-2 h2 {
    font-weight: normal;
    font-size: 20px;
    font-family: mySecondFont;
    color: black;
  }
  .marketing .col-lg-2 p {
    margin-right: 10px;
    margin-left: 10px;
  }

  .container_marketing{
      margin-top: 390px;
      margin-left:auto ;
      margin-right: auto;
      text-align: center;
      visibility: visible;

    }

  .game_title{
  
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 120px;
  border-radius: 6px;
  visibility: visible;
  }

  .game_title #tit{
    width: 1000px;
    height: 120px;
    visibility: visible;
  }

  /* GAME CONTENT
      ------------------------------------------------- */
    .game_container{
      margin-top: 30px;
      margin-bottom: 80px;
      position: relative;
      margin-left: auto ;
      margin-right: auto ; 
      /*cursor: default;*/
  
      width: 1280px;
      height: 720px;
      /*-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      box-sizing: border-box;*/
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      rotation: 0deg;
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    }

    #btn_Jorge{
  background: black;
  color:white;
}
 #btn_Ivan {
  background: black;
  color:white;
 }
 #btn_Alvaro {
  background: black;
  color:white;
 }
 #btn_Agus {
  background: black;
  color:white;
 }
 #btn_Susi{
  background: black;
  color:white;
 }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}



